extend layout

<<<<<<< HEAD
=======
block styles
    style.
        body, html,.map {width: 100%;height: 100%;overflow: hidden;margin:0;}
    link(rel="stylesheet",type="text/css",href="/css/app.css")

block scripts

    //- script(src="https://maps.google.com/maps/api/js?sensor=false")
    //- script(src="./js/ng-map.min.js")
    script(src="http://i1.dpfile.com/lib/1.1/map.js")
    script(src="/js/app.js")


>>>>>>> update static
block content
    div asd
