extend layout

block styles
    style.
        body, html,.map {width: 100%;height: 100%;overflow: hidden;margin:0;}
    link(rel="stylesheet",href="/css/home.css")
    link(rel="stylesheet",href="/css/bootstrap-datepicker.css")

block scripts
    script(src="/js/lib/bootstrap-datepicker.js")
    script.
        $("#date").datepicker({
            format:"yyyy-mm-dd"
        });
        angular.module("soday",[])
        function PlansCtrl($scope, $http){
            $http.get("/tourlist/api/all")
            .then(function(resp){
                $scope.plans = resp.data.plans.map(function(item){
                    return item;
                });
            });
            $scope.bgpath = function(index){
                //- var num = Math.ceil(Math.random() * 6);
                var num = index % 7 + 1;
                return "url(/img/covers/cover-" + num + ".jpg)";
            }
            $scope.create = function(){
                if($scope.title && $scope.date){
                    $http.post("/tourlist/api/add").then(function(resp){
                        var id = resp.data.planid;
                        $http.put("/tourlist/api/" + id, {
                            title: $scope.title,
                            date: $scope.date
                        }).then(function(){
                            location.href = "/plans/" + id + "/edit"
                        });
                    });
                }
            };

            $scope.popcreate = function(){
                $('#create-modal').modal();
            };
        }

block content
    .main(ng-controller="PlansCtrl")
        .plans(ng-show="plans.length",ng-cloak)
            a.plan.card(ng-repeat="plan in plans",ng-href="/plans/{{plan.id}}",ng-style="{'background-image':'{{bgpath($index)}}'}")
                .tit {{plan.title}}
                .date {{plan.date}}
                .steps
                    .step(ng-repeat="step in plan.cards")
                        .text {{step.title}}
                        .arrow.icon-arrow-right-thick(ng-show="{{$index < plan.cards.length - 1}}")
            a.card.create
                .icon-plus(ng-click="popcreate()")

        #create-modal.modal.fade
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        .modal-title 创建日程
                    .modal-body
                        input.form-control(type="text",ng-model="title",placeholder="起个名字吧")
                        br
                        input#date.form-control(type="text",ng-model="date",placeholder="挑个日子吧")
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal",type="button") 取消
                        button.btn.btn-primary(ng-click="create()",type="button") 创建