doctype html
html(lang="en",ng-app="soday")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/base.css")
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/angular.js")
    script(src="/js/lib/bootstrap.js")
    block styles
  body
    block content
    block scripts