doctype html
html(lang="en",ng-app="soday")
  head
    title= title
    meta(charset="utf-8")
    script(src="/js/jquery.min.js")
    script(src="/js/angular.js")
    script(src="/js/jquery-ui.min.js")
    block styles
  body
    block content
    block scripts