doctype html
html(lang="en",ng-app="soday")
	head
		meta(charset="utf-8")
		link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
		link(rel="stylesheet",type="text/css",href="/css/preview.css")
		script(src="/js/lib/angular.js")
		script(src="/js/preview.js")
	body(ng-controller="PreviewController")
		div.row.nav
			a.btn.btn-default(ng-click="getPDF()") 导出行程
			a.btn.btn-default(ng-click="edit()") 继续编辑
			a.btn.btn-default 分享行程
		div.row.abstract
			div.col-md-6.description 
				.date {{date | date:'yyyy-MM-dd'}}
				.title {{title}}
					span.ext {{cards.length-1}}站
				.users 
					span
						img.img-circle(src="http://static.qyer.com/data/avatar/003/93/49/62_avatar_big.jpg")
					span
						img.img-circle(src="http://static.qyer.com/data/avatar/003/93/49/62_avatar_big.jpg")
			div.col-md-6.map
				img(src="http://static.qyer.com/upload/plan_map_static/27/d0/396872/20140411210731947.PNG")
		div.row.board-container
			ul.board()
				li.destination(ng-repeat="card in cards" ng-hide="$index==cards.length-1")
					div.title {{$index+1}}. {{card.title}}
					div.detail.row
						div.pic-area.col-md-5() 
							img(src="{{card.photoUrl}}")
						div.txt-area.col-md-7
							.item
								span.name 地址:
								span.content {{card.addr}}
							.item
								span.name  电话:
								span.content {{card.tel}}
							.description
								div.name  介绍:
								p.content 据说这里是上海“第一家”印度餐厅。店面“不大”，却巧妙地运用“镜子”分隔，而头顶“悬垂”的中国字和“异族风情浓郁”的小摆设，更为餐厅披上了一层“神秘”的面纱。服务生大多是“印度人”，“彬彬有礼”。食物“非常地道”，咖喱种类“比较全”，推荐喜欢“尝鲜”的朋友去试试。
					div.distance(ng-hide="$index==cards.length-2")
						span 两地距离：0.1 公里，1 分钟 