$card
  position: relative
  background-color #fff
  padding 20px
  border-bottom 1px solid #eee
  transition all .2s linear
  .tit
    font-size 18px
    margin-bottom 5px
  .addr
    height: 20px
    overflow: ellipsis
    font-size 14px
    color #666
    margin-bottom 5px


.aside
  position absolute
  top 40px
  left 40px
  z-index 10
  width 400px
  height: 550px
  border-radius 5px
  box-shadow 0 2px 4px rgba(0,0,0,0.4)
  & > .head
    font-size 24px
    padding 20px
    border-radius 5px 5px 0 0
    color #fff
    background-color #379e65
    .date
      font-size 14px
    .save
      position: absolute
      right: 15px
      top: 15px
      padding: 5px
      color: #fff
      font-size: 16px
      -webkit-border-radius: 5px
      border-radius: 5px
      /* -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4) */
      box-shadow: 0 2px 4px rgba(0,0,0,0.4)
      padding: 5px 10px
      border: 1px solid #3B855C
      transition: all .2s linear
      cursor: pointer
      &:hover
        background-color: #46AC73
  .cards-wrap
    height 450px
    overflow: auto
    background-color #fff
  .add
    padding 10px 20px
    text-align center
    .add-btn
      cursor pointer
      text-align center
      background-color #ccc
      border-radius 12px
      width 24px
      height 24px
      font-size 18px
      line-height 24px
      color #fff
      background #666
      margin 0 auto
  .cards
    .state-add
      display block
      .search-input
        width 200px
        border 1px solid #ccc
        padding 5px
        height 35px
        border-radius 5px
        box-shadow 0 2px 4px rgba(0,0,0,0.3)
    .state-view
      display none
    .card
      @extend $card
    .view
      .state-add
        display none
      .state-view
        display block
        position relative
        &:hover
          .remove
            position absolute

.search-list
  position absolute
  left 40px
  z-index 5
  height 550px
  top 40px
  background-color #fff
  overflow auto
  border-radius: 5px
  transition: all .2s linear
  width: 320px
  &.selecting
    left: 450px
  .card
    @extend $card
    .add-btn
      display: none
    &:hover
      .add-btn
        display: block
        position: absolute
        right: 25px
        top: 25px
        float: left
        background-color: #379e65
        color: #fff
        font-size: 20px
        border-radius: 24px
        cursor: pointer
        padding: 5px
        box-shadow: 0 2px 4px rgba(0,0,0,0.4)
    .rating-price
      a:1
      clearfix()
    .rating
      float left
    .price
      float left
      font-size 14px
      color #c00
    .tags
      font-size 14px
      color #666
      margin-bottom 5px
      .tag
        background-color #379e65
        margin-left 5px
        color #fff
        padding 3px 6px
        border-radius 3px
        font-size 12px