@import "bootstrap.min.css"
@import "fonts"
ul
    margin: 0
    padding: 0
li
    list-style-type: none

body
    background-color: #e8e8e8

a
    text-decoration: none
    &:hover
        color: #fff
        text-decoration: none
