@import "reset"
* 
	margin: 0; 
	padding: 0; 
html  
	// background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	body
		background-color:transparent
		font-family: "Hiragino Sans GB","Microsoft YaHei"
		.board
			width: 760px;
			margin: 50px auto;
		.destination
			margin-bottom: 25px
			background-color:transparent
			box-shadow: 0px 1px 1px rgba(0,0,0,0.4)
			.title
				border-top-right-radius: 8px
				border-top-left-radius: 8px
				padding:10px
				font-size:18px
				color:white
				background-color:#379e65
			.detail
				border:1px solid #dddddd
				margin:0;
				padding:15px
				.pic-area
					padding-left:0px
					img
						width:100%
				.txt-area
					padding-left:10px
					.item
						border-bottom: 2px dashed #379e65
						padding:10px 0px
						.name
							font-size:16px
							color:#379e65
							margin-right:10px
						.content
							color:#636363
							font-size:14px
					.description
						padding:10px 0px
						.name
							font-size:16px
							color:#379e65
							margin-bottom:6px
						p
							padding-right:5px
							font-size:14px
							color:#636363
