body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Hiragino Sans GB", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html body {
  background-color: transparent;
  font-family: "Hiragino Sans GB", "Microsoft YaHei";
}
html body .board {
  width: 760px;
  margin: 50px auto;
}
html body .destination {
  margin-bottom: 25px;
  background-color: transparent;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
html body .destination .title {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #379e65;
}
html body .destination .detail {
  border: 1px solid #ddd;
  margin: 0;
  padding: 15px;
}
html body .destination .detail .pic-area {
  padding-left: 0px;
}
html body .destination .detail .pic-area img {
  width: 100%;
}
html body .destination .detail .txt-area {
  padding-left: 10px;
}
html body .destination .detail .txt-area .item {
  border-bottom: 2px dashed #379e65;
  padding: 10px 0px;
}
html body .destination .detail .txt-area .item .name {
  font-size: 16px;
  color: #379e65;
  margin-right: 10px;
}
html body .destination .detail .txt-area .item .content {
  color: #636363;
  font-size: 14px;
}
html body .destination .detail .txt-area .description {
  padding: 10px 0px;
}
html body .destination .detail .txt-area .description .name {
  font-size: 16px;
  color: #379e65;
  margin-bottom: 6px;
}
html body .destination .detail .txt-area .description p {
  padding-right: 5px;
  font-size: 14px;
  color: #636363;
}
