html
	// background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover
body
	background-color:transparent
	width: 800px;
	margin: 30px auto;
	font-family: "Hiragino Sans GB","Microsoft YaHei"
.nav
	background: #fafafa;
	border:1px solid #eeeeee
	margin-bottom:20px
	padding:10px
	a.btn
		margin-right:10px
.abstract
	background: #fafafa;
	border:1px solid #eeeeee
	margin-bottom:20px
	.description
		padding: 0 30px
		.date
			margin-top:20px
			color:#959595
		.title
			font-size:34px
			padding:10px 0px
			.ext
				color:#959595
				margin-left:10px
				font-size:26px
		.users
			img
				width:34px
				height:34px
				margin-right:10px
	.map
		img
			width: 400px
.board-container
	background: #fafafa
	border:1px solid #eeeeee
.board
	padding: 0px
	margin:20px 20px
	.destination
		list-style-type: none
		margin-bottom: 25px
		background-color:transparent
		// box-shadow: 0px 1px 1px rgba(0,0,0,0.4)
		.title
			// border-top-right-radius: 8px
			// border-top-left-radius: 8px
			padding:10px
			font-size:18px
			color:white
			background-color:#379e65
		.detail
			margin:0;
			padding:15px 0px
			.pic-area
				padding-left:0px
				img
					width:100%
			.txt-area
				padding-left:10px
				.item
					border-bottom: 1px solid #dddddd
					padding:10px 0px
					.name
						font-weight:bold
						font-size:16px
						color:#379e65
						margin-right:10px
					.content
						color:#636363
						font-size:14px
				.description
					padding:10px 0px
					.name
						font-weight:bold
						font-size:16px
						color:#379e65
						margin-bottom:6px
					p
						padding-right:5px
						font-size:14px
						color:#636363
		.distance
			font-size: 14px
			border-left: 2px dotted #379e65
			color: #379e65
			padding: 10px 13px