doctype html
html(lang="en",ng-app="soday")
	head
		meta(charset="utf-8")
		link(rel="stylesheet",type="text/css",href="../css/bootstrap.min.css")
		link(rel="stylesheet",type="text/css",href="../css/preview.css")
	body
		ul.board()
			li.destination()
				div.title 1. 山林道
				div.detail.row
					div.pic-area.col-md-5() 
						img(src="http://pic.qyer.com/album/1ad/30/1841161/index/300_200")
					div.txt-area.col-md-7
						.item
							span.name 地址:
							span.content 九龙尖沙咀梳士巴利道10号
						.item
							span.name  电话:
							span.content 23423423
						.description
							div.name  介绍:
							p.content 据说这里是上海“第一家”印度餐厅。店面“不大”，却巧妙地运用“镜子”分隔，而头顶“悬垂”的中国字和“异族风情浓郁”的小摆设，更为餐厅披上了一层“神秘”的面纱。服务生大多是“印度人”，“彬彬有礼”。食物“非常地道”，咖喱种类“比较全”，推荐喜欢“尝鲜”的朋友去试试。
			li.destination()
				div.title 2. 山林道
				div.detail.row
					div.pic-area.col-md-5() 
						img(src="http://pic.qyer.com/album/user/214/54/Q0hRRx4CZQ/index/300_200")
					div.txt-area.col-md-7
						.item
							span.name 地址:
							span.content 九龙尖沙咀梳士巴利道10号
						.item
							span.name  电话:
							span.content 23423423
						.description
							div.name  介绍:
							p.content 据说这里是上海“第一家”印度餐厅。店面“不大”，却巧妙地运用“镜子”分隔，而头顶“悬垂”的中国字和“异族风情浓郁”的小摆设，更为餐厅披上了一层“神秘”的面纱。服务生大多是“印度人”，“彬彬有礼”。食物“非常地道”，咖喱种类“比较全”，推荐喜欢“尝鲜”的朋友去试试。
